body{
	margin-top: 45px;
}
html {
  position: relative;
  min-height: 100%;
  margin-bottom: 0;
}
footer{
	margin-top: 1em;
}
#copyright{
	padding-top: 0.8em;
	color: white;
}

/* Fix for weird half-boxes highlighting while hovering over footer links */
.nav>li>a:hover,.nav>li>a:focus{
    background-color: #008cba;
}

/* Centers copyright text when screen size is xs */
@media (max-width: 767px) {
    #copyright{
        text-align: center;
    } 
}