body{
	margin-top: 50px;
	margin-bottom: 0;
}
html {
  position: relative;
  min-height: 100%;
  margin-bottom: 0;
}
footer{
	width: 100%;
	
	
	margin-top: 1em;
}
.fcontent{
	text-align: center;
}
#copyright{
	padding-top: 1.1em;
	color: gray;
}
.navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>li>a:focus{
	background-color: #008cba;
}

/* Centers copyright text when screen size is xs */
@media (max-width: 767px) {
    #copyright{
        text-align: center;
    } 
}