.centered-content {
  text-align: center;
  color: white;
  background-color: transparent;
  text-shadow: black 1px 1px;
}
.bg-dark {
  background-color: black !important;
}
.display-image {
  height: 70vh;
  background: url("/img/citylights.jpg") #43ac6a;
  background-size: cover;
  background-position: center;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.display-text {
  font-size: 1.5rem;
  font-weight: 300;
}
.display-icon {
  font-size: 10rem;
  color: var(--green);
}
@media (max-width: 576px) {
  .display-icon {
    font-size: 8rem;
  }
  .display-3 {
    font-size: 3.5rem;
  }
}
.col-sm-10 {
  display: flex;
  align-items: center;
  min-height: 11em;
}
