body {
  padding-top: 4rem;
}

.navbar-default .navbar-nav > .active > a {
  background-color: black;
}
.centered-content {
  text-align: center;
  color: white;
  background-color: transparent;
  text-shadow: black 1px 1px;
}
.navbar {
  background-color: black;
}
.collapse.in {
  background-color: rgba(22, 22, 22, 0.7);
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #999999;
}
.display-image {
  height: 70vh;
  background: url("/img/citylights.jpg") #43ac6a;
  background-size: cover;
  background-position: center;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.display-text {
  font-size: 1.5em;
  font-weight: 300;
}
.display-icon {
  font-size: 10em;
  margin-bottom: .25em;
  color: #43ac6a;
}
.col-sm-10 {
  display: flex;
  align-items: center;
  min-height: 12em;
}
