.pictures{
	height: 13em;
	border-radius: 15px;
	margin-top: 1em;
	margin-bottom: 1em;
}
.built-with{
	text-align: center;
}
#built-with-1{
	background-color: green;
	padding-top: 2em;
	padding-bottom: 2em;
}