body {
  padding-top: 0;
}

.navbar-default .navbar-nav > .active > a {
  background-color: transparent;
  text-decoration: underline;
}
.centered-content {
  text-align: center;
  color: white;
  margin: auto;
}
.navbar {
  background-color: transparent;
}
.navbar-inverse {
  background-color: #111111;
  border-color: #010101;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus
{
  background-color: transparent;
  text-decoration: underline;
}
.wrapper {
  background: url("/img/home.jpg") #43ac6a;
  background-image: image("/img/home.webp", "/img/home.jpg", #43ac6a);
  background-size: cover;
  margin: 0;
  display: flex;
}
