body {
  padding-top: 0;
}

.navbar-default .navbar-nav > .active > a {
  background-color: transparent;
  color: #999999;
}
.centered-content {
  text-align: center;
  color: white;
  padding: 1em;
  background-color: rgba(255, 22, 22, 0.25);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.navbar {
  background-color: transparent;
}
.collapse.in {
  background-color: rgba(22, 22, 22, 0.5);
}
.navbar-inverse {
  background-color: #111111;
  border-color: #010101;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #999999;
}
.navbar-inverse .btn-link > a:hover,
.navbar-inverse .btn-link > a:focus {
  background-color: inherit;
}
.wrapper {
  background: url("/img/home.jpg") #43ac6a;
  background-image: image("/img/home.webp", "/img/home.jpg", #43ac6a);
  background-size: cover;
  margin: 0;
}
