---
title: Eagle Project
permalink: /projects/eagle-project/
---
<!DOCTYPE html>
  <html lang="en">

    {% include head.html %}

    <body>

      {% include navbar.html %}

      <div class="jumbotron">
        <div class="container">
          <h1>Eagle Project</h1>
        </div>
      </div>
        <div class="container">
          <div class="intrinsic-container">
              <a data-flickr-embed="true" href="https://www.flickr.com/photos/103580394@N04/albums/72157635984432836" title="Zion Lutheran Cemetery"><img src="https://farm4.staticflickr.com/3691/9985486926_c2c26e4295_z.jpg"  alt="Zion Lutheran Cemetery"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
          </div>
          <div class="intrinsic-container">
              <iframe src="http://files.slidemypics.com/app/js/iframe.html?bg_color=1f1f1f&amp;hash=526b25d5e19e0ef56fb7b0e5a1292127&amp;r=0.5683173844590783"></iframe>
          </div>
          <a class="btn btn-lg btn-primary" href="https://www.flickr.com/photos/103580394@N04/sets/72157635984432836/" target="_blank">Pictures</a>
          <a class="btn btn-lg btn-primary" href="https://docs.google.com/document/d/1h3FAtFvRSLmB4lO4x2TdW7u2oXSgWWyDdc2KDLZCsVY/edit?usp=sharing" target="_blank">Transcriptions</a>
        </div>

      {% include footer.html %}

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="/js/bootstrap.min.js"></script>
      <script>
        $("#{{page.title}}").addClass("active");
      </script>
    </body>
  </html>
