---
title: Eagle Project
permalink: /projects/eagle-project/
---
<!DOCTYPE html>
  <html lang="en">
    <head>
      {% include head.html %}
      <style>.galleria-stage {bottom: 10px !important;}</style>
    </head>
    <body>
      {% include navbar.html %}
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-4">Eagle Project</h1>
        </div>
      </div>
      <div class="container">
        <a href=".."><span class="fas fa-chevron-left"></span> see my other projects</a>
        <br>
        <noscript>
          <h2 class="text-center">Please enable JavaScript to view the slideshow</h2>
        </noscript>
        <div class="galleria"></div>
          <br>
        <article>
          <p>For my Eagle Scout project I created a virtual tour of a cemetery with graves dating back to the 1700s. I, with the help of some volunteers, took pictures of all of 600+ tombstones and uploaded them along with a typed version of the inscription that was on the stone. Many of the stones were so old that it was difficult or impossible to read the inscription and I had to rely on a book of the inscriptions and a map to try to match them up. I think that this project will help preserve the history that the cemetery contains and maybe allow people to see the graves of family members.</p>
          <p>The slideshow above only shows the first 100 pictures of the cemetery. To see the rest of the 600+ photos, click the "Pictures" button below. If you want to read all of the transcriptions from the stones you can click the "Transcriptions" button. You can also see the transcriptions in the slideshow above by clicking the "i" in the top left corner.</p>
          <a class="btn btn-primary" href="https://www.flickr.com/photos/103580394@N04/sets/72157635984432836/" target="_blank"><span class="fab fa-flickr"></span> Pictures</a>
          <a class="btn btn-success" href="https://docs.google.com/document/d/1h3FAtFvRSLmB4lO4x2TdW7u2oXSgWWyDdc2KDLZCsVY/edit?usp=sharing" target="_blank"><span class="fab fa-google"></span> Transcriptions</a>
        </article>
          <br>
      </div>
      {% include footer.html %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.5.7/galleria.min.js" integrity="sha256-vcRq33WsCAofqsEfm42WcAdAjyj8Q+XnuAnvg8ZuMLk=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.5.7/plugins/flickr/galleria.flickr.min.js" integrity="sha256-nOFw66EvZak9OeLv1GMzUHL1u5Vs8T7nPx9EcJxr55k=" crossorigin="anonymous"></script>
      <script src="/js/slideshow.js"></script>
    </body>
  </html>
