---
title: Projects
permalink: /projects/
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include navbar.html %}
    <div class="jumbotron">
      <div class="container">
        <h1>Projects</h1>
        <p>Here are some projects that I have worked on. Check out my <a href="https://github.com/njscholfield" target="_blank">GitHub</a> to see my most recent work.</p>
      </div>
    </div>
    <div class="container">
      <article>
        <h2>New Tracks</h2>
          <p>This project is the one that I am most proud of so far. The main feature of this web application is displaying information about tracks using the <a href="https://developers.soundcloud.com" target="_blank">SoundCloud® API</a>. Users can also save tracks to their account to view and listen to later. I created this project because the SoundCloud iOS app does not allow you to see track descriptions which often contain useful links and info. I actually use this application regularly to keep track of songs on SoundCloud and view their descriptions. While working on this project, I learned a lot about AngularJS, user authentication, databases, and so many more things.</p>
        <a class="btn btn-primary" href="https://tracks.noahscholfield.com" target="_blank">See Project</a>
        <a class="btn btn-success" href="https://github.com/njscholfield/new-tracks" target="_blank" rel="noreferrer noopener"><span class="icon icon-github"></span> View Code</a>
      </article>
        <br>
      <article>
        <h2>Pitt Secular Alliance Website</h2>
        <p>I am currently the outreach coordinator for Pitt Secular Allinace and as part of my responsibilites, I created a website for the club. It has some basic information about our club, a list of upcoming events that automatically updates from our Google Calendar, and some ways to contact us for more information.</p>
        <a class="btn btn-primary" href="https://secularpitt.club" target="_blank">See Project</a>
        <a class="btn btn-success" href="https://github.com/secularpitt/secularpitt.github.io" target="_blank" rel="noreferrer noopener"><span class="icon icon-github"></span> View Code</a>
      </article>
        <br>
      <article>
        <h2>Eagle Scout Project</h2>
          <p>For my Eagle Scout project I created a virtual tour of a cemetery with graves dating back to the 1700s. I, with the help of some volunteers, took pictures of all of 600+ tombstones and uploaded them along with a typed version of the inscription that was on the stone. Many of the stones were so old that it was difficult or impossible to read the inscription and I had to rely on a book of the inscriptions and a map to try to match them up. I think that this project will help perserve the history that the cemetery contains and maybe allow people to see the graves of family members.</p>
        <a class="btn btn-primary" href="./eagle-project/">See Project</a>
      </article>
        <br>
      <article>
        <h2>This Website</h2>
          <p>I decided to make this personal website and I learned many things in the process. I learned more about HTML and CSS, of course, but also DNS, Jekyll, Bootstrap, domains, and web hosting to name a few. If you want to see what I used to make this site and what I learned, click the button below.</p>
        <a class="btn btn-primary" href="./website/">Learn More</a>
      </article>
        <br>
        <article>
          <h2>Node.js Demos</h2>
            <p>While taking a class on databases I decided that I wanted to make something 'real' using a database, so I decided to learn Node.js in order to make a web app. This lead to me making several demo apps of varying complexity.</p>
            <a class="btn btn-primary" href="./nodejs/">See Projects</a>
        </article>
          <br>
    </div>
    {% include footer.html %}
  </body>
</html>
