---
title: Projects
permalink: /projects/
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <meta name="description" content="Come read about some of the projects I've worked on and see them in action.">
    <style>
      h2 {
        padding-top: 2em;
        margin-top: -2em;
      }
    </style>
  </head>
  <body>
    {% include navbar.html %}
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4">Projects</h1>
        <p class="lead">Here are some projects that I have worked on. Check out my <a href="https://github.com/njscholfield" target="_blank" rel="noopener noreferrer">GitHub</a> to see my most recent work.</p>
      </div>
    </div>
    <div class="container">
      <article>
        <h2>Conditions App</h2>
        <p>For my most recent project I decided to learn more about <a href="https://flutter.dev" target="_blank" rel="noopener noreferrer">Flutter</a> by creating an app that shows the conditions outside and information about the sun an moon. The app takes a location and then gets the current conditions at that location from Dark Sky, and sun and moon data from a <a href="https://aa.usno.navy.mil/data/docs/api.php#rstt" target="_blank" rel="noopener noreferrer">US Naval Observatory API</a>. One of the reasons I decided to create this app was because it's surprisingly hard to find when dusk is, everywhere just has sunset. Even though it's pretty basic and still a work in progress, it is a quick and easy way to see what it's like outside.</p>
        <a class="btn btn-success" href="https://github.com/njscholfield/conditions-app" target="_blank" rel="noopener noreferrer"><span class="fab fa-github"></span> View Code</a>
      </article>
        <br>
      <article>
        <h2>New Tracks</h2>
          <p>This project is the one that I am most proud of so far. The main feature of this web application is displaying information about tracks using the <a href="https://developers.soundcloud.com" target="_blank" rel="noopener noreferrer">SoundCloud® API</a>. Users can also save tracks to their account to view and listen to later. I created this project because the SoundCloud iOS app does not allow you to see track descriptions which often contain useful links and info. I actually use this application regularly to keep track of songs on SoundCloud and view their descriptions. While working on this project, I learned a lot about AngularJS, user authentication, databases, and so many more things.</p>
          <p>This past summer I completely rewrote the front-end code to switch from Angular 1.x to <a href="https://vuejs.org" target="_blank" rel="noopener noreferrer">Vue.js</a> using Vue <a href="https://vuejs.org/v2/guide/single-file-components.html" target="_blank" rel="noopener noreferrer">single file components</a>.</p>
        <a class="btn btn-primary" href="https://tracks.noahscholfield.com" target="_blank" rel="noopener noreferrer">See Project</a>
        <a class="btn btn-success" href="https://github.com/njscholfield/new-tracks" target="_blank" rel="noreferrer noopener"><span class="fab fa-github"></span> View Code</a>
      </article>
        <br>
      <article>
        <h2 id="framed">Framed Store</h2>
          <p>This is the final project for my capstone web programming class at Pitt (INFSCI 1059). It's an online store that sells prints that you can put in your dorm, apartment or house. It has a main store page, item pages, favoriting, cart functionality, order history, and an admin panel, so it's basically a fully functional online store. The only thing missing is payment processing, and that it doesn't actually ship any products. I had a lot of fun making this store and adding all of these different features to make it something that could actually be used. It's mostly written in PHP because that's what the class required us to use, with some Vue.js and vanilla JavaScript to make it more interactive. If you want to read more about it, check out the README for the GitHub project using the button below.</p>
          <p>I also created a simple companion app using <a href="https://flutter.io" target="_blank" rel="noreferrer noopener">Flutter</a> to learn more about mobile app development and because Flutter seemed interesting.</p>
        <a class="btn btn-primary" href="https://framed.noahscholfield.com" target="_blank" rel="noreferrer noopener"><span class="fas fa-images"></span> See Project</a>
        <a class="btn btn-success" href="https://github.com/njscholfield/framed-website" target="_blank" rel="noreferrer noopener"><span class="fab fa-github"></span> View Code</a>
        <a class="btn btn-success" href="https://github.com/njscholfield/framed-app" target="_blank" rel="noreferrer noopener"><span class="fab fa-github"></span> View Mobile App</a>
      </article>
        <br>
      <article>
        <h2 id="pdc">Data Visualization</h2>
        <p>As part of a class I am taking this semester called <a href="https://pdc-spring-2019.matthew-lavin.com/" target="_blank" rel="noreferrer noopener">Projects in Digital Composition</a> I have been experimenting with data visualization. I created a few different pages telling a story using data and using multiple visualization techniques to make the data more meaningful and easier to understand. It is interesting to use my web development skills a little differently to figure out the best way to represent a dataset and communicate what it means.</p>
        <h6>Things I've worked on this semester</h6>
        <ul>
          <li>The distribution of trees in Pittsburgh</li>
          <li>Analysis of 1000+ emails from a reply all chain sent to Pitt students</li>
          <li>Some example maps to learn more about <a href="https://www.mapbox.com" target="_blank" rel="noreferrer noopener">Mapbox</a></li>
          <li>A final <a href="https://reviews.noahscholfield.com" target="_blank" rel="noreferrer noopener">group assignment</a> about how young adult literature is treated by professional reviewers</li>
        </ul>
        <a class="btn btn-primary" href="https://pdc.noahscholfield.com" target="_blank" rel="noreferrer noopener">See Website</a>
        <a class="btn btn-success" href="https://github.com/njscholfield/pdc-spring-2019" target="_blank" rel="noreferrer noopener"><span class="fab fa-github"></span> View Code</a>
      </article>
        <br>
      <article>
        <h2 id="tsdauto">TSD Autofill</h2>
          <p>This is a Chrome extension I created to make the creation and filling out of support tickets faster and easier for student technical consultants at the University of Pittsburgh. While working as a student tech con I found that making support tickets was a very repetitive process with many of the fields being the same for most tickets created. This extension fills these fields with the most common values with 1 click and also makes searching for a person by their username a 1 click process instead of 4.</p>
          <p>While initially, I created this extension to make my own job easier, it is now used by most of my coworkers and I even adapted it so that workers at the 24/7 help desk can use it to make their job easier as well. Over the summer I added a feature to make <em>New Computer Setup</em> tickets much faster to make because we set up many computers over the first few weeks of the semester for new students. I am also considering allowing users to make their own macros or customize the built-in ones to really speed up ticket making and make it more customizable.</p>
          <p><em>While anyone can download the extension via the link below, it will only activate and work when logged into the system Pitt uses for support tickets (Salesforce). Feel free to check out the code though.</em></p>
        <a class="btn btn-primary" href="https://noahjam.es/tsdauto" target="_blank" rel="noreferrer noopener">See Extension</a>
        <a class="btn btn-success" href="https://github.com/njscholfield/tsd-autofill" target="_blank" rel="noreferrer noopener"><span class="fab fa-github"></span> View Code</a>
      </article>
        <br>
      <article>
        <h2 id="ssa">Pitt Secular Alliance Website</h2>
        <p>I was the outreach coordinator for Pitt Secular Allinace for 2 years and as part of my responsibilites, I created a website for the club. It has some basic information about our club, a list of upcoming events that automatically updates from our Google Calendar, and some ways to contact us for more information.</p>
        <a class="btn btn-primary" href="https://secularpitt.github.io" target="_blank" rel="noopener noreferrer">See Project</a>
        <a class="btn btn-success" href="https://github.com/secularpitt/secularpitt.github.io" target="_blank" rel="noreferrer noopener"><span class="fab fa-github"></span> View Code</a>
      </article>
        <br>
      <article>
        <h2>User-Centered Design Midterm Project</h2>
        <p>This site was my midterm project for my User-Centered Design class where we had to make a website for a fictional business called Waggin' Wagon Pet Boarding. Since it was just a class project, not all the links are real. Also, not everything is responsive for different screen sizes (although most is) because that was not a requirement of the project and we were not allowed to use Bootstrap.</p>
        <a class="btn btn-primary" href="https://waggin.noahscholfield.com" target="_blank" rel="noopener noreferrer">See Project</a>
        <a class="btn btn-success" href="https://github.com/njscholfield/is1052-midterm" target="_blank" rel="noreferrer noopener"><span class="fab fa-github"></span> View Code</a>
      </article>
        <br>
      <article>
        <h2>Eagle Scout Project</h2>
          <p>For my Eagle Scout project I created a virtual tour of a cemetery with graves dating back to the 1700s. I, with the help of some volunteers, took pictures of all of 600+ tombstones and uploaded them along with a typed version of the inscription that was on the stone. Many of the stones were so old that it was difficult or impossible to read the inscription and I had to rely on a book of the inscriptions and a map to try to match them up. I think that this project will help preserve the history that the cemetery contains and maybe allow people to see the graves of family members.</p>
        <a class="btn btn-primary" href="./eagle-project/">See Project</a>
      </article>
        <br>
      <article>
        <h2>This Website</h2>
          <p>I decided to make this personal website and I learned many things in the process. I learned more about HTML and CSS, of course, but also DNS, Jekyll, Bootstrap, domains, and web hosting to name a few. If you want to see what I used to make this site and what I learned, click the button below.</p>
        <a class="btn btn-primary" href="./website/">Learn More</a>
      </article>
          <br>
    </div>
    {% include footer.html %}
  </body>
</html>
