---
title: Node
permalink: /projects/node/
---
<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include navbar.html %}

    <div class="jumbotron">
      <div class="container">
        <h1>Node</h1>
        <p>These are some demo apps that I built with <a href="https://nodejs.org" target="_blank">Node.js</a> hosted on <a href="https://heroku.com" target="_blank">Heroku</a>.</p>
      </div>
    </div>
    <div class="container">
      <article>
        <h2>Login Demo</h2>
          <p>This is an app that I made which allows for account registration, login, password change, and account deletion. It doesn't really have any practical uses, but I learned a lot about Express.js, MongoDB, Bcrypt, and sessions in Express.</p>
        <a class="btn btn-primary" href="https://login.noahscholfield.com" target="_blank">View Project</a>
        <a class="btn btn-default" href="https://github.com/njscholfield/login-demo" target="_blank"><span class="icon icon-github"></span> View Code</a>
      </article>
        <br>
      <article>
        <h2>Form Demo</h2>
          <p>This is a pretty simple app that just using a form to input data, store it in a database, and show the data that has been submitted to the database on another page.</p>
        <a class="btn btn-primary" href="https://form.noahscholfield.com" target="_blank">View Project</a>
        <a class="btn btn-default" href="https://github.com/njscholfield/form-demo" target="_blank"><span class="icon icon-github"></span> View Code</a>
      </article>
        <br>
    </div>

    {% include footer.html %}

  </body>
</html>
