---
title: Website
permalink: /projects/website/
---
<!DOCTYPE html>
  <html lang="en">

  {% include head.html %}

    <body>

      {% include navbar.html %}

      <div class="jumbotron">
        <div class="container">
          <h1>Website</h1>
        </div>
      </div>

      <div class="container">
        <article>
          <ul class="list-unstyled">
            <li class="btn-link"><a href="#bootstrap">Bootstrap</a></li>
            <li class="btn-link"><a href="#cloudflare">Cloudflare</a></li>
            <li class="btn-link"><a href="#github">GitHub Pages</a></li>
          </ul>
        </article>
        <article id="bootstrap">
          <h2>Bootstrap</h2>
          <a class="btn-link" href="https://getbootstrap.com" target="_blank"><span class="glyphicon glyphicon-link"></span> getbootstrap.com</a>
        </article>
        <article id="cloudflare">
          <h2>Cloudflare</h2>
          <a class="btn-link" href="https://cloudflare.com" target="_blank"><span class="glyphicon glyphicon-link"></span> cloudflare.com</a>
        </article>
        <article id="github">
          <h2>GitHub Pages</h2>
          <a class="btn-link" href="https://pages.github.com" target="_blank"><span class="glyphicon glyphicon-link"></span> pages.github.com</a>
        </article>
      </div>

      {% include footer.html %}

    </body>
  </html>
