---
title: Website
permalink: /projects/website/
---
<!DOCTYPE html>
  <html lang="en">

  {% include head.html %}

    <body>

      {% include navbar.html %}

      <div class="jumbotron">
        <div class="container">
          <h1>Website</h1>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="right col-sm-3 col-sm-push-9">
            <br>
            <ul class="list-unstyled">
              <li class="btn-link"><a href="#bootstrap">Bootstrap</a></li>
              <li class="btn-link"><a href="#cloudflare">Cloudflare</a></li>
              <li class="btn-link"><a href="#galleria">Galleria</a></li>
              <li class="btn-link"><a href="#github">GitHub Pages</a></li>
            </ul>
          </div>
          <div class="left col-sm-9 col-sm-pull-3">
            <article>
              <h2 id="bootstrap">Bootstrap <a class="hidden-link" href="#bootstrap">#</a></h2>
              <a class="btn-link" href="https://getbootstrap.com" target="_blank"><span class="glyphicon glyphicon-link"></span> getbootstrap.com</a>
            </article>
            <article>
              <h2 id="cloudflare">Cloudflare <a class="hidden-link" href="#cloudflare">#</a></h2>
              <a class="btn-link" href="https://cloudflare.com" target="_blank"><span class="glyphicon glyphicon-link"></span> cloudflare.com</a>
            </article>
            <article>
              <h2 id="galleria">Galleria <a class="hidden-link" href="#galleria">#</a></h2>
              <a class="btn-link" href="http://galleria.io" target="_blank"><span class="glyphicon glyphicon-link"></span> galleria.io</a>
            </article>
            <article>
              <h2 id="github">GitHub Pages <a class="hidden-link" href="#github">#</a></h2>
              <a class="btn-link" href="https://pages.github.com" target="_blank"><span class="glyphicon glyphicon-link"></span> pages.github.com</a>
            </article>
          </div>
        </div>
      </div>

      {% include footer.html %}

    </body>
  </html>
