<!DOCTYPE html>
<html>
	<head>
		<title>Template</title>
		<link type="text/css" rel="stylesheet" href="template.css"/>
		<meta charset="UTF-8">
	</head>
	<body>

<!--Header-->		
<header id="header">
	<a href="/"><div class="hcontent" id="home">How Many Cats Can You Fit In A Barn?</div></a>
	<nav id="hc-cont">
	<a href="English.html"><div class="hcontent">English</div></a>
	<a href="Latin.html"><div class="hcontent">Latin</div></a>
	<a href="Dutch.html"><div class="hcontent">Dutch</div></a>
	</nav>
</header>
<!--/Header-->



<!--Footer-->
<footer id="bfooter">
	<div class="fcontent" id="bf-left">
		Copyright © 2015 Noah Scholfield
	</div>
	<div id="bf-right">
		<div class="fcontent">Tacos</div>
		<div class="fcontent">Nachos</div>
		<div class="fcontent">Burritos</div>
	</div>
</footer>
<!--/Footer-->

	</body>
</html>	
