---
title: Home
permalink: /
---
<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
  <meta name="description" content="Hello, my name is Noah and I'm a web developer and recent Pitt graduate. This is my personal website where you can see some projects that I've worked on and learn a bit about me.">
  <link href="/css/home.css" rel="stylesheet">
</head>
<body>
  {% include navbar.html %}
  <div class="display-image">
    <div class="centered-content jumbotron">
      <div class="container">
        <h1 class="display-3">Welcome!</h1>
        <p class="lead">Learn about me and see some projects that I have worked on</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row my-4">
      <div class="col-sm-auto order-sm-2 d-flex justify-content-end">
        <span class="fas fa-code display-icon"></span>
      </div>
      <div class="col-sm order-sm-1">
        <p class="display-text">Want to see my most recent projects? Check out my <a href="/projects/">projects</a> page or my <a href="https://github.com/njscholfield/" target="_blank" rel="noopener noreferrer">GitHub</a> account!</p>
      </div>
    </div>
  </div>
  {% include footer.html %}
</body>

</html>
