---
title: Test
permalink: /test/
sitemap: false
---

<!DOCTYPE html>
<html lang="en">

    <head>

      {% include head.html %}

      <link href="/css/test.css" rel="stylesheet">
    </head>

    <body>

      {% include navbar.html %}

      <div class="centered-content jumbotron">
        <div class="container">
          <h1>Test</h1>
          <p>This is my test page to test things that I want to test. Test.</p>
        </div>
      </div>

      {% include footer.html %}
  </body>
</html>
