---
title: Contact
permalink: /contact/
---
<!DOCTYPE html>
<html lang="en">

  <head>

    {% include head.html %}

  </head>

  <body>

    {% include navbar.html %}

    <div class="jumbotron">
      <div class="container">
        <h1>Contact Me</h1>
        <p>Fill out the form below or email me at <a href="mailto:contact@noahscholfield.com">contact@noahscholfield.com</a></p>
      </div>
    </div>

    <!-- Form -->
    <script src="/js/form.js"></script>
    <div id="form-container">
    	<iframe name="bs-iframe" onload="icount++;" class="hidden"></iframe>

    	<div class="alert alert-dismissible alert-success hidden" id="success">
    		<button type="button" class="close" onclick="$('#success').addClass('hidden');">×</button>
    		<p><span class="glyphicon glyphicon-ok"></span>  Form successfully submitted!</p></div>

    	<div class="alert alert-dismissible alert-danger hidden" id="failure">
    		<button type="button" class="close" onclick="$('#failure').addClass('hidden');">×</button>
    		<p><span class="glyphicon glyphicon-exclamation-sign"></span>  Error submitting form! Try again</p></div>

      <noscript>
        <div class="alert alert-dismissible alert-warning">
          <p><span class=""></span> You don't seem to have JavaScript enabled. The form may act strangely and you will have no way of knowing if it successfully submitted unless you enable JavaScript.</p>
        </div>
      </noscript>

    	<form action="https://docs.google.com/forms/d/1TqUYtC2s8Uv5ChXPEqMGm1GZTyGNn0Wto2Mb2biIMHE/formResponse" method="POST"
    	target="bs-iframe" onsubmit="confirm()" class="container" id="contact-form">
    		<ol role="list" style="padding-left: 0">
    			<div class="form-group" role="listitem">
    				<label class="control-label" for="entry_1687361453">
    					<div>Name</div>
    				</label>
    				<input type="text" name="entry.1687361453" value="" class="form-control" id="entry_1687361453" dir="auto" aria-label="Name  "
    				aria-required="true" required="" title="" placeholder="Name">
    			</div>
    			<div class="form-group" role="listitem">
    				<label class="control-label" for="entry_597865152">
    					<div>Email Address</div>
    				</label>
    				<input type="email" name="entry.597865152" value="" class="form-control" id="entry_597865152" dir="auto" aria-label="Email Address  Must be a valid email address"
    				aria-required="true" required="" placeholder="user@example.com">
    			</div>
    			<div class="form-group" role="listitem">
    				<label class="control-label" for="entry_142010775">
    					<div>Message</div>
    				</label>
    				<textarea name="entry.142010775" rows="8" cols="0" class="form-control" id="entry_142010775" dir="auto" aria-label="Message  "
    				aria-required="true" required=""></textarea>
    			</div>
    			<div class="form-group">
    				<input type="submit" name="submit" value="Submit" id="ss-submit" class="btn btn-primary">
    				<button type="reset" class="btn btn-default">Clear</button>
    			</div>
    		</ol>
    	</form>
    </div>

    {% include footer.html %}

  </body>
</html>
