  <div class="push"></div> <!-- Sticky Footer -->
</div> <!-- This closes the .wrapper div for the Sticky Footer -->
<footer class="navbar-inverse">
  <div class="container">
  <div class="row">
    <div class="right col-sm-6 col-sm-push-6">
      <ul class="nav navbar-right list-unstyled">
        <li class="col-xs-6 btn-link"><a class="btn-link text-center fcontent" href="/contact">Contact&nbspMe</a></li>
        <li class="col-xs-6 btn-link"><a class="btn-link text-center fcontent" href="/tech-specs">Tech&nbspSpecs</a></li>
      </ul>
    </div>
    <div class="left col-sm-6 col-sm-pull-6"><p id="copyright">Copyright © 2015 Noah Scholfield</p></div>
  </div>
  </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
<script>
  $("#{{page.title}}").addClass("active");
</script>
