<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% if {{page.title}} == 'Home' %}
<title>Noah Scholfield</title>
<link rel="preload" as="image" href="/img/citylights.jpg" media="(min-width: 576px)">
{% else %}
<title>{{ page.title }} | Noah Scholfield</title>
{% endif %}

{% capture abovefold %}
{% include css/above-fold.css %}
{% endcapture %}
<style>{{ abovefold | scssify }}</style>
<link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700&display=swap">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.0/yeti/bootstrap.min.css" integrity="sha256-99KgWr1SjvkqT7dcWV+Cj9yfsKF2j4wrVRgHJYAiEtU=" crossorigin="anonymous" >
{% capture style %}
{% include css/app.css %}
{% endcapture %}
<style>{{ style | scssify }}</style>
