<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% if {{page.title}} == 'Home' %}
<title>Noah Scholfield</title>
<link rel="preload" as="image" href="/img/citylights.jpg" media="(min-width: 576px)">
{% else %}
<title>{{ page.title }} | Noah Scholfield</title>
{% endif %}

{% capture abovefold %}
{% include css/above-fold.css %}
{% endcapture %}
<style>{{ abovefold | scssify }}</style>
<link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap">
<!-- <link rel="preload" as="style" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.2/yeti/bootstrap.min.css" onload="this.onload=null;this.rel='stylesheet'"> -->
<link rel="preload" as="style" href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.1/dist/yeti/bootstrap.min.css" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" as="style" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" onload="this.onload=null;this.rel='stylesheet'"/>
<noscript>
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.2/yeti/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.1/dist/yeti/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"/>
</noscript>
<script>
  (function() {if(document.createElement("link").relList.supports("preload")) return;
  else { document.querySelectorAll('link[rel="preload"][as="style"]').forEach(link => link.rel = 'stylesheet'); }})();
</script>
{% capture style %}
{% include css/app.css %}
{% endcapture %}
<style>{{ style | scssify }}</style>
