<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% if {{page.title}} == 'Home' %}
<title>Noah Scholfield</title>
{% else %}
<title>{{ page.title }} | Noah Scholfield</title>
{% endif %}

<script src="/fa/js/fa-brands.min.js"></script>
<script src="/fa/js/fa-light.min.js"></script>
<script src="/fa/js/fa-solid.min.js"></script>
<script src="/fa/js/fontawesome.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/yeti/bootstrap.min.css" integrity="sha256-rgG5kz3nx2k6KsR71jGvHG/SB7hNXC7UJyMeeFz2GgM=" crossorigin="anonymous">
<link href="/css/app.css" rel="stylesheet">
