---
title: Experience
permalink: /experience/
---
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <style>
      h2 {
        padding-top: 2em;
        margin-top: -2em;
      }
    </style>
  </head>
  <body>
    {% include navbar.html  %}
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4">Experience</h1>
        <p class="lead">These are some of the positions I have held.</p>
      </div>
    </div>
    <div class="container">
      <article>
        <h2 id="engineer">Jr. Full Stack Engineer</h2>
        <h5>Treatspace, Inc.</h5>
        <h6 class="text-primary">March 2020 - Present</h6>
        <ul>
          <li>Responsibilites are similar to <a href="#fellow">Web Development Fellow</a> with more focus on enginnering tasks and building new features</li>
        </ul>
      </article>
      <article>
        <h2 id="fellow">Web Development Fellow</h2>
        <h5>Treatspace, Inc.</h5>
        <h6>August 2019 – February 2020 (<a href="#engineer">promotion</a>)</h6>
        <ul>
          <li>Build and design websites for medical practices to increase engagement and appointments</li>
          <li>Implement SEO best practices so websites perform well in search results</li>
          <li>Make sure websites load quickly and work well on all platforms</li>
          <li>Make updates to websites as needed</li>
          <li>Fix bugs in the Treatspace platform</li>
          <li>Build new features for the Treatspace platform</li>
        </ul>
      </article>
      <article>
        <h2 id="sr-tech-consultant">Senior Technical Consultant</h2>
        <h5>Univeristy of Pittsburgh – Information Technology</h5>
        <h6>April 2018 – August 2019</h6>
        <ul>
          <li>fulfilling all duties outlined for Technical Consultants (<a href="#tech-consultant">see below</a>)</li>
          <li>selling print quota</li>
          <li>emailing customers about checked in computers</li>
          <li>maintaining the Technical Support Desk's knowledge base</li>
          <li>supervising Technical Consultants in the absence of a full-time staff</li>
          <li>training new Technical Consultants</li>
          <li>working independently on projects that benefit or advance the Technical Support Desk
            <ul>
              <li>created a <a href="/projects/#tsdauto">Chrome extension</a> to streamline the creation of support tickets</li>
            </ul>
          </li>
        </ul>
      </article>
      <article>
        <h2>Website Consultant</h2>
        <h5>Mary's Health and Fitness</h5>
        <h6 class="text-primary">November 2017 – Present</h6>
        <ul>
          <li>added new images to her existing <a href="http://maryshealthandfitness.com" target="_blank" rel="noreferrer noopener">website</a></li>
          <li>updated incorrect and outdated information on the website</li>
          <li>provided other technical assistance as needed</li>
          <li>created <a href="https://lawnroadlandscaping.com" target="_blank" rel="noreferrer noopener">website</a>, set up business email, and designed logo for her husband’s new landscaping business</li>
        </ul>
      </article>
      <article>
        <h2>Outreach Coordinator</h2>
        <h5>Pitt Secular Alliance</h5>
        <h6>January 2017 – December 2018</h6>
        <ul>
          <li>created a <a href="/projects/#ssa">website</a> to help people learn about our club</li>
          <li>maintained and kept website up to date</li>
          <li>sent out weekly emails informing members of upcoming events</li>
          <li>designed flyers for the activities fair to attract new members</li>
          <li>ordered tabling supplies like stickers and buttons for us to distribute</li>
          <li>contacted other clubs to arrange joint meetings</li>
        </ul>
      </article>
      <article>
        <h2 id="tech-consultant">Technical Consultant</h2>
        <h5>Univeristy of Pittsburgh – Information Technology</h5>
        <h6>January 2017 – April 2018 (<a href="#sr-tech-consultant">promotion</a>)</h6>
        <ul>
          <li>providing quality technical support to University students</li>
          <li>establishing wired and wireless network connectivity</li>
          <li>providing basic software installation and support</li>
          <li>offering general troubleshooting and support</li>
          <li>installing, configuring, and troubleshooting operating systems</li>
          <li>eliminating malware and viruses</li>
          <li>wiping and rebuilding machines</li>
          <li>taking measurements for Pitt wireless around campus</li>
          <li>assisting with Student Computing Services events</li>
        </ul>
      </article>
    </div>
    {% include footer.html %}
  </body>
</html>
