---
title: Tech Specs
permalink: /tech-specs/
---
<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include navbar.html %}

    <div class="jumbotron">
      <div class="container">
        <h1>Built With:</h1>
        <p>Thinking of creating your own website and want to know what I used to make this one?</p>
      </div>
    </div>

    <div id="built-with-1">
      <div class="container">
        <div class="row text-center">
          <div class="col-sm-4"><a href="https://pages.github.com" target="_blank"><img src="/img/github-logo.png" alt="Github Icon" class="pictures">
            <p>GitHub Pages</p></a>
            <p>This page is hosted using GitHub Pages</p></div>
          <div class="col-sm-4"><a href="https://getbootstrap.com" target="_blank"><img src="/img/bootstrap-logo.png" alt="Bootstrap Logo" class="pictures">
            <p>Bootstrap</p></a></div>
          <div class="col-sm-4"><a href="https://fonticons.com" target="_blank"><img src="/img/fonticons-logo.png" alt="Fonticons Logo" class="pictures">
            <p>Fonticons</p></a></div>
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>
</html>
