---
title: About
permalink: /about/
---
<!DOCTYPE html>
<html lang="en">

  <head>

    {% include head.html %}

    <link href="/css/about.css" rel="stylesheet">
  </head>

  <body>

    {% include navbar.html %}

  <!-- Page Content -->
    <div class="jumbotron">
      <div class="container">
        <h1>About Me</h1>
        <p>Here is some basic information about me.</p>
      </div>
    </div>

    <div class="container">
      <div class="row text-center">
        <div class="col-sm-6"><img src="/img/pitt.png" alt="Pitt Crest" class="pictures">
          <p>I am currently a sophomore at the University of Pittsburgh.</p></div>
        <div class="col-sm-6"><div class="pictures"><br><span class="icon icon-code code"></span></div>
          <p>I am majoring in Information Science with a minor in Computer Science.</p></div>
      </div>
    </div>

    {% include footer.html %}

  </body>
</html>
