---
title: About
permalink: /about/
---
<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include navbar.html %}

  <!-- Page Content -->
    <div class="jumbotron">
      <div class="container">
        <h1>About Me</h1>
        <p>Here is some basic information about me.</p>
      </div>
    </div>

    <div class="container">
      <div class="row text-center">
        <div class="col-sm-4"><img src="/img/pitt.png" alt="Pitt Crest" class="pictures">
          <p>I am currently a freshman at the University of Pittsburgh.</p></div>
        <div class="col-sm-4"><img src="/img/code.png" alt="Coding Logo" class="pictures">
          <p>I am thinking of majoring in Information Science and getting a minor in Computer Science.</p></div>
        <div class="col-sm-4"><img src="/img/hummelstown.gif" alt="Hummelstown Map" class="pictures">
          <p>I am from Hummelstown, PA which is near Harrisburg and Hershey.</p></div>
      </div>
    </div>

    {% include footer.html %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script>
      $("#{{page.title}}").addClass("active");
    </script>
  </body>
</html>
