:root {
  --background: #fff;
  --text: #222;
}

body {
  padding-top: 3.4rem;
  height: 100%
}

html {
  height: 100%;
}

.jumbotron {
  padding: 4rem 2rem;
  margin-bottom: 0;
  background-color: white;
}
.jumbotron h1.display-4 {
  font-weight: bold;
}
h2 {
  font-weight: 400;
}

/* Sticky Footer (http://ryanfait.com/html5-sticky-footer/) */

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -2.9em;
}

.push {
  height: 2.9em;
}

#copyright {
  padding-top: 1rem;
  color: white;
}

footer .nav-item {
  padding: .5rem 1rem;
}

/* Centers copyright text when screen size is xs */

@media (max-width: 576px) {
  .wrapper {
    margin-bottom: -5.6em;
  }
  .push {
    height: 5.6em;
  }
  #copyright {
    text-align: center;
  }
  .display-4 {
    font-size: 2.5rem;
  }
  .jumbotron {
    padding: 4rem 0rem;
  }
}

@media(prefers-color-scheme: dark) {
  :root {
    --background: #333;
    --text: white;
  }
  body,
  .jumbotron {
    background-color: #333;
    color: white;
  }
  .form-control {
    background: #555;
    color: white;
  }
  .form-control:focus {
    background: #777;
    color: white;
  }
  .navbar {
    box-shadow: 0 0 1px;
  }
}

/* Redesigned mobile navbar */
.grid-navbar {
  display: grid !important;
  grid-template-columns: max-content 1fr max-content;
  width: 100%;
}

.grid-navbar ul.nav.navbar-nav {
  display: flex;
  flex-direction: row;
}

.grid-navbar #links {
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-x: auto;
}

@media(min-width: 576px) {
  .grid-navbar .nav-link {
    padding: 8px;
  }
}

.grid-navbar .navbar-dark .navbar-nav .nav-link {
  margin-right: .5rem;
}

@media(max-width: 576px) {
  body {
    padding-top: 5.6rem;
  }
  .grid-navbar {
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content min-content;
  }
  .grid-navbar #links {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
  .grid-navbar #socials {
    justify-content: flex-end;
  }
  .navbar-dark .grid-navbar .navbar-nav .nav-link {
    margin-right: 1rem;
  }
}

.social-icon {
  height: 13.125px;
}
